*{margin: 0px; padding: 0px; box-sizing: border-box;}
a{
  text-decoration: none;
}
nav a{
  color: #fff!important;
  font-size: 20px;
}
.navbar-brand {
  font-size: 30px;
}
.dropdown ul{
  background: linear-gradient(to right, #000,#F3630B);
  border-radius: 20px;
  height: 75vh;
  overflow: scroll;
  margin-bottom: 20px!important;
}
.dropdown ul a{
  color: #fff!important;
  display: inline-block;
  transition: 0.7s ease all;
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
}
.dropdown ul a:hover{
  background:#000;
}
header{
  background: linear-gradient(to right, #000,#F3630B);
  height: 100%;
  width: 100%;
  padding: 0px 20px 20px 20px;
  background-size: cover;
}
#BinnerPart{
  background: url(../Image/foodbinner.jpg);
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.TitleBinner{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  text-shadow: 5px 4px 2px black;
}
.section{
  background: #000;
}
.Box{
  padding: 20px 10px;
  background: linear-gradient(to right, #000,#F3630B);
  color: #fff;

}
.Box h4{
  font-weight: 900;
}
.Box p{
  font-weight: 600;
  font-style: italic;
  text-indent: 20px;
}
.Box a{
  display: inline-block;
  padding: 8px 12px;
  background: #000;
  font-weight: bold;
  color: #fff;
  border: 1px solid #000;
  transition: 0.5s ease all;
}
.Box a:hover{
  font-weight: bold;
  background: transparent;
  border: 1px solid #fff;
}
.BoxImg img{
  height: 200px;
  width: 100%;
  margin: 20px 0px;
}
.TitleHead{
  margin: 40px 0px;
  font-weight: bold;
  font-size: 30px;
}
.ItiemImg{
  width: 20%;
}
.ItiemImg img{
  height: 60px;
  width: 200px;
}
.ItiemImgDesc{
  width: 70%;
  font-size: 12px;
}
.EventItiem{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ItiemHead h3{
    padding: 10px;
    color: #fff;
    background: #000;
    display: inline-block;
}
.Socail_links span a{
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 8px 10px;
  transition: 0.5s ease all;
  margin-right: 10px;
}
.Socail_links span a:hover{
  background: #F3630B;
  color: #000;
}
#UpComingEvent{
  background: #F8F3ED;
}
footer{
  background: #F9F0E9;
}
footer span{
  color: red;
}
